@use "variables.scss";

.footer{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$primary-color;
    
    div{
        color: red;
    }
}

.footer-text{
    font-size: 2rem;
}