.container.nav{
    border-top: 1px solid rgba($color: #727272, $alpha: 0.2);
    border-bottom: 1px solid rgba($color: #727272, $alpha: 0.2);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

